In [11]:
import requests
import pandas as pd
import json
import re

In [16]:
path='C:/Users/chenq/Desktop/test/爬取的交通量'
file_read = 'traffic_bounds_500m-202108171930.txt'
file_write = 'reindex.xlsx'
column = 'road_traffic'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_17380/1090252439.py, line 1)

In [89]:
 # 转为DataFrame
with open(path+file_read,'r',encoding='utf-8') as f:
    df = pd.DataFrame([json.loads(line) for line in f.readlines()])

In [90]:
print(df.road_traffic)

0                                                    NaN
1      [{'road_name': 'UNKNOW'}, {'road_name': '伏牛路'}...
2                                                    NaN
3      [{'road_name': 'UNKNOW'}, {'road_name': '华山路'}...
4      [{'road_name': '冬青街'}, {'road_name': '玉兰街'}, {...
                             ...
965    [{'road_name': 'UNKNOW'}, {'road_name': '浔江东路'...
966    [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
967    [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
968    [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
969    [{'road_name': '中梁线'}, {'road_name': '经南八路'}, ...
Name: road_traffic, Length: 970, dtype: object

In [ ]:
# 拆分列
s=df['road_traffic']
print(df)
print(s)

In [91]:
s.to_excel(path+file_write)

In [92]:
df2=pd.read_excel(path+file_write)
df2

     Unnamed: 0                                       road_traffic
0             0                                                NaN
1             1  [{'road_name': 'UNKNOW'}, {'road_name': '伏牛路'}...
2             2                                                NaN
3             3  [{'road_name': 'UNKNOW'}, {'road_name': '华山路'}...
4             4  [{'road_name': '冬青街'}, {'road_name': '玉兰街'}, {...
..          ...                                                ...
965         965  [{'road_name': 'UNKNOW'}, {'road_name': '浔江东路'...
966         966  [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
967         967  [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
968         968  [{'road_name': 'UNKNOW'}, {'road_name': '中原西路'...
969         969  [{'road_name': '中梁线'}, {'road_name': '经南八路'}, ...

[970 rows x 2 columns]

In [94]:
data_split = df2[column].str.split(',',expand=True).stack().reset_index()

In [95]:
writer = pd.ExcelWriter(path+file_write)
data_split.to_excel(writer,sheet_name='splited_')

In [ ]:
data_split = df[split_column].str.split(',', expand=True).stack().reset_index()
    # 重建表头
data_split.columns = ['index','sub_level',split_column]
data_split.to_excel(path+file_write)